<header class="c-page__header">
    <img src="../assets/logo.png" width="64"/>
    <h1><code>{{ site.title}}</code></h1>
    <h1>{{ site.description }}</h1>
    <p>
        <a href="{{ "/" | prepend: site.baseurl }}">Docs</a> <span class="u-separate"></span> <a href="{{ "/projects/" | prepend:
        site.baseurl }}">Projects</a> <span class="u-separate"></span> <a href="{{ "/about/" | prepend: site.baseurl }}">About</a><span class="u-separate"></span> <a href="{{ "/gsoc/" | prepend:
        site.baseurl }}">GSoC</a>
    </p>
</header>
